<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/readable/bootstrap.min.css" rel="stylesheet" integrity="sha384-/x/+iIbAU4qS3UecK7KIjLZdUilKKCjUFVdwFx8ba7S/WvxbrYeQuKEt0n/HWqTx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container-fluid">
      <a href="/"><img src="/images/logo.png" id="logo" alt="logo image"></a>
      <div class="right">
      <a href="/authors/new"><h3>Add Author</h3></a>
      <a href="/books/new"><h3>Add Book</h3></a>
      </div>
    </div>
    <div class="container content">
        <div class="row">
          <div class="col-lg-3">
            <a href="/books"><h2><span class="glyphicon glyphicon-book"></span></h2></a>
            <a href="/authors"><h2><span class="glyphicon glyphicon-pencil"></span></h2></a>
          </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
